@layer reset, tokens, theme, base, app, utilities;

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../fonts/InterVariable.woff2') format('woff2');
}

@layer reset {
  * {
    border: 0 solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer tokens {
  :root {
    --color-green: #c4f82a;

    --color-grey-700: #333333;
    --color-grey-800: #1f1f1f;
    --color-grey-900: #141414;

    --color-white: hsl(0, 0%, 100%);

    --space-50: 4px;
    --space-100: 8px;
    --space-150: 12px;
    --space-200: 16px;
    --space-300: 24px;
    --space-500: 40px;

    --ff-sans: InterVariable, sans-serif;

    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-xl: 1.5rem;

    --fw-normal: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    --leading-normal: 1.5;

    --rounded-lg: 0.5rem;
    --rounded-xl: 0.75rem;
    --rounded-full: calc(infinity * 1px);

    --tracking-wide: 0.025em;

    --card-size: 24rem;
  }
}

@layer theme {
  :root {
    --secondary: var(--color-grey-700);
    --secondary-foreground: var(--color-white);
    --background: var(--color-grey-900);
    --foreground: var(--color-white);
    --accent: var(--color-green);
    --accent-foreground: var(--color-grey-700);
    --card: var(--color-grey-800);
    --card-foreground: var(--color-white);
    --ring: var(--color-green);
  }
}

@layer base {
  *:focus-visible {
    outline-color: var(--ring);
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
  }

  html {
    font-family: var(--ff-sans);
    font-size: 100%; /* 16px */
    -webkit-font-smoothing: antialiased;
  }

  img {
    block-size: auto;
    max-inline-size: 100%;
    display: block;
  }

  ul {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-size: var(--fs-base);
    font-weight: var(--fw-normal);
    line-height: var(--leading-normal);
  }

  main {
    min-block-size: 100dvh;
    display: grid;
    place-items: center;
    padding-inline: var(--space-300);
  }
}

@layer utilities {
  .text-preset-1 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-semibold);
    letter-spacing: var(--tracking-wide);
    line-height: var(--leading-normal);
  }

  .text-preset-2 {
    font-size: var(--fs-sm);
    font-weight: var(--fw-normal);
    line-height: var(--leading-normal);
  }

  .text-preset-2-bold {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    line-height: var(--leading-normal);
  }
}

@layer app {
  .profile-card {
    background-color: var(--card);
    border-radius: var(--rounded-xl);
    color: var(--card-foreground);
    inline-size: 100%;
    max-inline-size: var(--card-size);
    padding: var(--space-300);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-300);

    @media (width >= 48rem) {
      padding: var(--space-500);
    }
  }

  .profile-card__img {
    aspect-ratio: 1/1;
    border-radius: var(--rounded-full);
    inline-size: 5.5rem;
    margin-inline: auto;
    object-fit: cover;
  }

  .profile-card__location {
    color: var(--accent);
    margin-block-start: var(--space-50);
  }

  .profile-card__bio {
    font-size: var(--fs-sm);
  }

  .profile-card__social-links-container > * + * {
    margin-block-start: var(--space-200);
  }

  .profile-card__social-link {
    background-color: var(--secondary);
    border-radius: var(--rounded-lg);
    color: var(--secondary-foreground);
    cursor: pointer;
    display: block;
    padding-block: var(--space-150);
    transition:
      background-color 160ms ease,
      color 160ms ease,
      scale 160ms ease-out;

    &:active {
      scale: 0.97;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--accent);
        color: var(--accent-foreground);
      }
    }
  }
}
