@font-face {
  font-family: 'Inter';
  src: url('../fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --clr-accent: hsl(75, 94%, 57%);

  /* Neutral */
  --clr-neutral-1: hsl(0, 0%, 20%);
  --clr-neutral-2: hsl(0, 0%, 12%);

  /* Rest of colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 8%);

  /* Typography */
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-xl: 1.5rem;

  /* Fonts */
  --ff-sans: 'Inter', sans-serif;
  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Rest of vars */
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --card-size: 24rem;
}

html {
  line-height: 1.5;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);
}

main {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 640px) {
  body {
    padding-inline: 1rem;
  }
}

h1,
h2,
h3 {
  text-wrap: balance;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.img {
  display: block;
  object-fit: cover;
  max-inline-size: 100%;
}

.profile-card {
  width: 100%;
  max-width: var(--card-size);
  background-color: var(--clr-neutral-2);
  text-align: center;
  border-radius: var(--rounded-xl);
  padding: 2.5rem;
}

.profile-card__img {
  width: 5.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  margin-inline: auto;
}

.profile-card__name {
  font-size: 1.5rem;
  margin-top: 1em;
}

.profile-card__location {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
  margin-top: 0.25rem;
}

.profile-card__quote {
  display: block;
  margin-top: 1.5rem;
  font-size: var(--fs-sm);
}

.profile-card__social-links {
  margin-top: 1.5em;
}

.profile-card__social-links > * {
  margin-top: 1rem;
}

.profile-card__social-link {
  background-color: var(--clr-neutral-1);
  padding: 0.75rem;
  border-radius: var(--rounded-lg);
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.profile-card__social-link:hover {
  background-color: var(--clr-accent);
  color: var(--clr-neutral-2);
}
